<section class="top-wrapper">
  <div class="top-container">
    <h2 class="h2-jp">素敵な<span class="text-bright">宿</span>で素敵な<span class="text-bright">体験</span>を。</h2>
    <h2 class="h2-en">A wonderful <span class="text-bright">experience</span> at a wonderful <span class="text-bright">inn</span>.</h2>
    <div class="top-search-form">
      <p>フォーム</p>
    </div>
  </div>
</section>

<section class="area-view-wrapper">
  <div class="area-view-container">
    <h3>おすすめエリア</h3>
    <div class="all-area-panels">
      <%= link_to root_path do %>
        <div class="area-panel">
          <h4>東京</h4>
          <h4>Tokyo</h4>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="area-panel">
          <h4>大阪</h4>
          <h4>Osaka</h4>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="area-panel">
          <h4>京都</h4>
          <h4>Kyoto</h4>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="area-panel">
          <h4>札幌</h4>
          <h4>Sapporo</h4>
        </div>
      <% end %>
    </div>
  </div>
</section>
