/* default */

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.h2-en {
  font-size: 40px;
}

label {
  color: #777;
  font-weight: bold;
}

input {
  padding: 0 10px;
}

input::placeholder {
  color: #ccc
}

textarea {
  padding: 10px;
}

/* layout */

.header-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.header-container h1 {
  color: #6be5f0;
}

.nav-list ul {
  display: flex;
  font-size: 20px;
  margin-right: 20px;
}

.logged-in-nav-list {
  color: #888;
  display: flex;
  align-items: center;
  font-size: 20px
}

.logged-in-nav-list img {
  margin-right: 10px;
}

.logged-in-nav-list::after {
  content: "▼";
  color: #444;
  font-size: 15px;
  margin-left: 10px;
}

.drop-button {
  margin-right: 20px;
}

.login_button {
  color: #6be5f0;
  font-weight: bold;
  margin-right: 30px;
}

.sign_up_button {
  background-color: #6be5f0;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
}

#check {
  display: none;
}

#check:checked ~ .gloval-nav {
  display: block;
}

.gloval-nav {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px -1px 5px #222;
  color: #777;
  display: none;
  font-size: 20px;
  position: absolute;
  top: 80px;
  right: 65px;
}

.gloval-nav li {
  padding: 12px 20px;
}

.add-room {
  border-bottom: 1px solid #777;
}

.logout {
  border-top: 1px solid #777;
}

.footer-container {
  background-color: #fff;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-container p {
  color: #6be5f0;
}


/* shared */

.flash-container {
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 25px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.flash-notice {
  background-color: #fdf745;
  color: #888;
}

.flash-danger {
  background-color: #ff7162;
  color: #555;
}


/* home */

.top-wrapper {
  background-image: image-url('top-image.jpg');
  background-position: center;
  background-size: cover;
  height: 70vh;
  padding: 50px 80px;
  position: relative;
  z-index: -99;
}

.top-wrapper::before {
  content: "";
  background-color: rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -98;
}

.top-container {
  margin: 0 auto;
  width: 100%;
}

.top-container h2 {
  color: #fff;
  font-family: "Meiryo", 'Comic Sans MS';
  letter-spacing: 0.03em;
}

.top-container .h2-en {
  margin-top: 5px;
}

.text-bright {
  color: #fffc9b;
}

.top-search-form {
  margin: 30px 0;
  width: 100%;
}

.area-view-wrapper {
  background-color: #72f1fd;
  padding: 50px 80px;
}

.area-view-container {
  margin: 0 auto;
  width: 100%;
}

.area-view-container h3 {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: "Meiryo";
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  text-align: center;
}

.all-area-panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.area-panel{
  background-image: image-url('default-image.png');
  background-size: cover;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  height: 270px;
  letter-spacing: 0.05em;
  margin: 10px;
  width: 250px;
  padding: 10px;
}


/* signup signin */

.sign-wrapper {
  background-color: #72f1fd;
  padding: 30px 80px;
}

.sign-container {
  width: fit-content;
  margin: 0 auto;
}

.sign-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.sign-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.sign-form .input_label {
  display: block;
  margin-bottom: 5px;
}

.sign-form .required_input_label {
  display: block;
  margin-bottom: 5px;
}

.required_input_label::after {
  content: "※必須";
  color: #f00;
  font-size: 12px;
  margin-left: 5px;
}

.sign-form .input-field {
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 30px;
  width: 100%;
}

.sign-form .add-button {
  background-color: #467eff;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  padding: 20px 40px;
}

.sign-form .cancel-button {
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #666;
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px 40px;
}


/* show edit */

.user-wrapper {
  background-color: #72f1fd;
  padding: 30px 80px 60px 80px;
}

.user-container h2 {
  color: #fff;
  margin-bottom: 10px;
}

.user-show-title-and-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu-and-account-profile {
  display: flex;
}

.show-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 20%;
  height: fit-content;
}

.show-menu ul {
  margin: 10px 0;
}

.show-menu-link {
  display: block;
  font-size: 25px;
  padding: 15px 20px;
}

.show-account-profile {
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  height: fit-content;
  margin-left: 30px;
  padding: 25px 25px;
  width: 80%;
}

.user-show-title-and-edit + .account-show {
  margin-bottom: 25px;
}

.profile-show {
  margin-top: 40px;
}

.user-show-title-and-edit .user-edit {
  margin-right: 10px;
}

.user-edit {
  background-color: #467eff;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.account-show, .profile-show {
  display: flex;
  align-items: center;
}

.account-show label, .profile-show label {
  width: 30%;
}

.account-show p, .profile-show p {
  width: 70%;
}

.account-edit-form .account-show, .account-edit-form .profile_show {
  align-items: center;
  margin-bottom: 30px;
}

.account-edit-form .input-field {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-left: 20px;
  height: 40px;
  width: 100%;
}

.account-edit-form .add-button {
  background-color: #467eff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  padding: 15px 20px;
}

.account-edit-form .cancel-button {
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #666;
  text-align: center;
  padding: 15px 20px;
}

.account-edit-form .cancel-submit-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile-image-form {
  display: flex;
  align-items: center;
}

.profile-image-label {
  width: 25%;
}

.profile-image input {
  display: none;
}

.image-upload-button {
  background-color: #467eff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin-left: 30px;
  text-align: center;
  padding: 10px 15px;
}

.profile-show .input-area {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-left: 20px;
  height: 200px;
  width: 100%;
}

.profile-edit-page .cancel-submit-buttons {
  margin-top: 30px;
}
